body{
    background-color: rgb(247, 224, 176 );
    font-family: 'Noto Serif', serif;
    padding: 0;
    margin: 0;
}

.title{
    position: absolute;
    top: 20px;
    left: 75%;
    width: 250px;
    font-size: 3.5em;
}

.author{
    position: absolute;
    top: 120px;
    left: 80%;
    font-size: 0.75em;
}

.poem{
    width: 30vw;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    font-size: 1.25em;
}
.stanza_1{
    position: absolute;
    top: 15%;
    left: 10%;
}

.stanza_2{
    position: absolute;
    top: 45%;
    left: 35%;
}

.stanza_3{
    position: absolute;
    top: 80%;
    left: 65%;
}

.circle{
    -moz-border-radius: 250px/250px;
    -webkit-border-radius: 250px 250px;
    border-radius: 250px/250px;
    border: solid 21px rgb(53, 151, 236);
    width: 250px;
    height: 250px;
    background-color: rgb(53, 151, 236);
    margin-left: 70.5%;
    margin-top: 0%;
}

.circle2{
    -moz-border-radius: 250px/250px;
    -webkit-border-radius: 250px 250px;
    border-radius: 250px/250px;
    border: solid 21px rgb(238,86,82);
    width: 250px;
    height: 250px;
    background-color: rgb(238 , 86, 82);
    margin-left:10%;
    margin-top: 12%;
    position: absolute;
}

.circle3{
    -moz-border-radius: 250px/250px;
    -webkit-border-radius: 250px 250px;
    border-radius: 250px/250px;
    border: solid 21px  rgb(243 , 163, 134);
    width: 250px;
    height: 250px;
    background-color: rgb(243 , 163, 134);
    margin-left:3%;
    margin-top: 0%;
}


/*-----------SMART PHONES ----------*/


@media only screen and (max-width:800px){

body{
    background-color: rgb(21, 50, 84);
    width: 800vw;
    height: 100vh;
    align-items: left;

}

p{
    color: white;
}

.title{
    position: absolute;
    left: 100px;
    top: 20px;
    font-size: 5em;
    color: white;

}

.author{
    position: absolute;
    top: 120%;
    left: 80%;
    font-size: 1em;
    color: white;
}

.poem{
    margin: auto;
    margin-top: 100px;
    text-align: auto;
    font-size: 0.90em;
}
.stanza_1{
    position: absolute;
    text-align: right;
    font-size: 0.5em;
    top: 30%;
    right: 0%;
}
.stanza_2{
    position: absolute;
    text-align: left;
    top: 45%;
    left: 0%;
    font-size: 0.5em;
    width: auto;
}
.stanza_3{
    position: absolute;
    text-align: right;
    font-size: 0.5em;
    width: auto;
    top: 60%;
    right: 0%;
}
.square{
    height: 20px;
    width: 45%;
    background: rgb(254, 192, 71);
    right: 0;
    top: 60px;
    position: absolute;
}
.square2{
    height: 25px;
    width: 80%;
    background: rgb(254, 192, 71);
    left: 20%;
    top: 160px;
    position: absolute;
}
.circle{
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 21px white;
    top: 120%;
    margin-left: -2%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
}
.circle2{
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 21px rgb(254, 192, 71);
    top: 115%;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    background-color: rgb(254, 192, 71);
    position: absolute;
}
.circle3{
    display: none;
}

}

/*----------TABLETS----------*/
@media only screen and (min-width:800px) and (max-width:1280px){
    body{
        background-color: rgb(25, 23, 21);
    }
    p,.author,.title{
        color: white
    }
    .title{
        position: absolute;
        top: 50%;
        left: 15%
        font-size: 5em;
    }
    .author{
        position: fixed;
        top: 60%;
        left: 50%;
        font-size: 1em;
        transform-origin: top left;
        transform: rotate(90deg);
    }
    .poem{
        margin: auto;
        margin-top: 100px;
        text-align: auto;
        font-size: 0.90em;
    }
    .stanza_1{
        position: absolute;
        text-align: right;
        top: 30%;
        right: 0%;
    }
    .stanza_2{
        position: absolute;
        text-align: left;
        top: 55%;
        left: 0%;
    }
    .stanza_3{
        position: absolute;
        text-align: right;
        top: 80%;
        right: 0%;
    }
    .circle{
        display: none;
    }
    .circle2{
        display: none;
    }
    .circle3{
        display: none;
    }
}